<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluekjg.admin.mapper.StoreAreaMapper">
	<select id="selectDataGrid" resultType="StoreArea" parameterType="StoreArea">
        SELECT
            sa.id,
            a.name,
            a.pid,
            sa.seq,
            sa.created_time createdTime
        FROM
           t_evm_store_area	sa
        LEFT JOIN
           t_evm_area a
        ON	a.id =  sa.area_id 
        WHERE
            sa.is_del = 0
            <if test="name !=null and name!=''">
            	and a.name like CONCAT('%',#{name},'%')
            </if>
        order by sa.ID desc    
    </select>
</mapper>
