body {
    background: #ebebeb;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    color: #222;
    font-size: 12px;
}

.captcha {
    border: 1px solid #d3d3d3;
    width: 216px;
    border-radius: 3px;
	height: 35px; line-height: 35px;
	float: left;
	padding-left: 10px;

}

/*登录-2017-02-27新增*/
.login{background:url(../images/login_bg.gif) repeat-x top left ; min-height:500px;}
.login_logo{margin:120px auto 10px auto; text-align:center;width:515px; height:75px;display:block;}
.login_box{width:720px; height:320px; background:url(../images/login_box_bg.gif) no-repeat center center #fff; margin:0 auto; border-radius:5px; box-shadow:1px 1px 10px #ccc; overflow:hidden;}
.login_timg{width:50%;}
.login_timg img{padding:50px 30px;}
.login_title{color:#3083eb; border-bottom:1px #c0daf9 dotted; width:90%; margin:auto; height:50px; line-height:50px; margin-top:20px; text-align:left;}
.login_form{width:50%;}
.login_form .form-horizontal{padding:20px 30px; width:100%;}
.login_form .form-group{height:30px;}
.login_form .form-group .col-md-9{ padding-left:0px; padding-right:16px;}
.login_copy{text-align:center; height:50px; line-height:50px;}


.fl{float: left;}
.fr{float: right;}
.form-horizontal{display: block;}
.form-group{display: block;  width: 86%; height: 40px; line-height: 40px; margin-bottom: 10px;}
.form-group .control-label{width: 60px; float: left; text-align: right; }
.form-group .col-md-9{width:220px; float: left;}
.form-group .col-md-9 input{border: 1px #ccc solid; height: 35px; line-height: 35px; border-radius: 3px; width: 100%; padding-left: 10px; box-sizing: border-box;}

input.btn{background: #428bca; display: block; border: none; color: #fff; width: 80%; height: 35px; line-height: 35px; border-radius: 3px;}